.loginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 20%;
    background-color: #808080;
    border: 10px solid #a7a7a7;
    border-radius: 20px;
}

.local{
    display: flex;
    justify-content: center;
}


.myform{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nombreUsuario {
    color: #3b4048; 
    font-family: 'Trocchi', serif;
    font-size: 18px; 
}

.password {
    color: #3b4048; 
    font-family: 'Trocchi', serif;
    font-size: 18px;
}

.myButton {
    margin: 20px 0px 10px 10px;
}

.buttonMargin {
    border-radius: 3px;
}

h1 {
    color: #3b4048; 
    font-family: 'Trocchi', serif;
    font-size: 30px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 10px;
}