.header {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 30px;
    margin: 0px 200px 0px 200px;
    height: 210px;
}

.image {
    width: 100%;
    height: auto;
    margin: auto;
}
  
.image img {
    width: 100%;
    height: auto;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.actions button {
    width: 25%;
    display: flex;
    flex-flow: column;
    align-items: center;
    cursor: pointer;
    background-color: #3B4048;
    color: white;
    border: 4px solid white;
    border-radius: 4px;
    font-size: 11px;
}

.actions img {
    margin: 10px 0px 0px 0px;
    width: 60%;
    height: auto;
}

.selectbtons {
    width: 33%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.selectbtons select {
    width: 66%;
    align-self: center;
}

.logo{
    width: 33%;
    height: auto;
}

.profile {
    width: 33%;
    height: auto;
}