.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    border-radius: 30px;
    margin: 10px;
}

.image {
    width: 50%;
}
  
.image img {
    width: 100%;
}

.actions {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.actions button {
    height: 20%;
    font: sans-serif;
    cursor: pointer;
    background-color: #3B4048;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 4px solid white;
    border-radius: 4px;
    font-weight: bold;
}