body {
    margin: 3rem;

    background-color: #c2b6b6;
background-image: linear-gradient(315deg, #c2b6b6 0%, #576574 74%);

/*
    background-color: #5b6467;
background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);*/

}